#info
    {
      text-align:justify;
      color:#A9A9A9;
    }

    #show_hide{display:none;} 
    #show_hide1{display:none;}
    #show_hide2{display:none;}
    #show_hide3{display:none;}
    #show_hide4{display:none;}
    #show_hide5{display:none;}
    #show_hide6{display:none;}
    #show_hide7{display:none;}
    #show_hide8{display:none;}
    #show_hide9{display:none;}
    #show_hide10{display:none;}
    #show_hide11{display:none;}

    hr{ border:1px solid lightgray; }
    #h1{}
    #tab_scrollbar        /*harsha changes*/
    {
      overflow-y: scroll;
      overflow-x:hidden;
      position: relative;
      max-height:530px;
      max-width:auto;
      min-width:50%;
      padding-right:20px;
      /* overflow:scroll; */
      /* border:1px solid green; */
    }             /* end of harsha changes*/

    html{overflow: hidden;}
    .table-row{ /*clickable row in tabs*/
    cursor:pointer;
    }
    .fa.fa-check{color:rgb(23, 218, 23);} /* check icon in tables in tabs*/
    .form-check-input{height: 15px; width:15px;}/* checkbox on modal*/
    .form-group.required .control-label:after { 
                color: #d00;
                content: "*";
                position: absolute;
               }
          